body {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
}
section {
  display: flex;
}
.top-bg {
  background-image: linear-gradient(rgb(73, 65, 138), rgb(158, 94, 122));
  background-repeat: no-repeat;
  background-size: 100% 39em;
}
.half-width {
  width: 50%;
}
.half-width img {
  width: 110%;
  height: 38em;
}
h1 {
  font-size: 50px;
  color: rgb(177, 199, 52);
}
.blue-color {
  color: rgb(71, 6, 9);
}
h3 {
  color: #abcfb1;
}
h2 {
  font-size: 30px;
  color: blueviolet;
}
p {
  color: rgb(82, 43, 16);
  font-size: 20px;
}
.top-title {
  width: 50%;
  padding-right: 5%;

  padding-top: 10%;
  margin-left: 5%;
  text-align: justify;
}
.top-button {
  font-size: 22px;
  text-decoration: none;
  background-image: linear-gradient(rgb(248, 208, 26), rgb(210, 128, 29));
  padding: 10px 30px;
  border-radius: 5px;
  color: rgb(56, 10, 10);
}
.mid-title {
  padding: 10% 5% 5% 5%;
  text-align: justify;
}

.mid-img img {
  width: 90%;
  padding: 5%;
}
.mid-section {
  background-image: linear-gradient(rgb(115, 139, 160), rgb(223, 240, 245));
}
.mid-button {
  font-size: 22px;
  text-decoration: none;
  background-image: linear-gradient(rgb(51, 61, 71), rgb(223, 26, 75));
  padding: 10px 30px;
  border-radius: 5px;
  color: whitesmoke;
}

.box {
  width: 100%;
  margin: 5% 5% 5% 5%;
  padding: 2%;

  box-shadow: 10px 10px 30px rgb(54, 75, 15);
  background-image: linear-gradient(rgb(155, 238, 173), rgb(119, 180, 21));
  border-image-slice: 153;
}
.box img {
  width: 100%;
}
